<%- include('../views/incl/head.ejs') -%>
<body>
  <div class="header">
        <h1 class="HTxt">Welcome to My Guide!</h1>
    <ul class="menu">
        <li><a href="/pages/guide">Getting Started</a></li>
        <li><a href="/features">Features</a></li>
        <li><a href="/faq">FAQ</a></li>
    </ul>
  </div>
  <div class="content">
    <h2>This is the how to make a windows server guide</h2>
    <p>This is a guide made by Gerty, for all users to use. The meaning of the guide is to help new developers sett up their own windows server.</p>
  </div>
  <%- include('../views/incl/foot.ejs') -%>
</body>
</html>