<%- include('../views/incl/head.ejs') -%>
<body>
  <div class="header">
        <h1 class="HTxt">Welcome to My Guide!</h1>
    <ul class="menu">
        <li><a href="/getting-started">Getting Started</a></li>
        <li><a href="/features">Features</a></li>
        <li><a href="/faq">FAQ</a></li>
    </ul>
  </div>
  
  <p>Here, you can find all the information you need to get started with my project.</p>
  <h2>Table of Contents</h2>
  <%- include('../views/incl/foot.ejs') -%>
</body>
</html>